**/.bundle
**/log/*
**/tmp/*
**/!log/.keep
**/!tmp/.keep
**/tmp/pids/*
**/!tmp/pids/
**/!tmp/pids/.keep
**/storage/*
**/!storage/.keep
**/tmp/storage/*
**/!tmp/storage/
**/!tmp/storage/.keep
**/public/assets
**/.byebug_history
**/config/database.yml
**/config/credentials/production.key
**/config/credentials/staging.key
**/config/credentials/development.key
**/config/credentials/test.key
node_modules
**/public/*-vite

# remove below for your project

/db/migrate/*
/db/schema.rb
